apiVersion: v1
kind: Service
metadata:
  name: flask-app
  namespace: ashapp
spec:
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 31001
  type: NodePort


